<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
</style>
<body>
<div style="background-color: cornsilk;width: 500px;height: 300px;margin:0 auto;margin-top: 100px">
<form role="form" action="/reg2" method="post" id="login" style="margin-left: 140px;margin-top: 80px;position: absolute ">
			  用&nbsp 户&nbsp 名&nbsp：<input type="text" name="username"  placeholder="请输入用户名" id="username"><br><br>
              密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 码 ：<input type="password" name="password"  placeholder="请输入密码" id="password"><br><br>
              确认密码 ：<input type="password" name="password2"  placeholder="请输入密码"id="password2"><br><br>
			  <div>
				<input type="submit"  style="margin-left: 30px"value="确认" />
                <input type="reset" style="margin-left: 30px"  value="重置"/>
			</div>
		</form>
</div>
</body>
<script>
    var user = document.getElementById("username").value
    if (user==""){

    }

</script>
</html>